<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762816913400-kc35krru0keep9ockfkmjs1163vr98ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762816913400-kc35krru0keep9ockfkmjs1163vr98ok</string>
	<key>API_KEY</key>
	<string>AIzaSyDKbZuqdR1r8uIakFNiDesOTspVguMDNh0</string>
	<key>GCM_SENDER_ID</key>
	<string>762816913400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somyad.NotesApp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-d973e</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-d973e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762816913400:ios:24ee6815c43a4a8002400d</string>
</dict>
</plist>